services:
  web:
    build: .
    container_name: todo_app
    ports:
      - "8081:80"
    depends_on:
      - db
    environment:
      DB_HOST_FILE: /run/secrets/db_host
      DB_USER_FILE: /run/secrets/db_user
      DB_PASS_FILE: /run/secrets/db_password
      DB_NAME_FILE: /run/secrets/db_name
    secrets:
      - db_host
      - db_user
      - db_password
      - db_name
    volumes:
      - .:/var/www/html

  db:
    image: mysql:8.0
    container_name: todo_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: todo
      MYSQL_ROOT_USER: root
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:

secrets:
  db_host:
    file: ./secrets/db_host.txt
  db_user:
    file: ./secrets/db_user.txt
  db_password:
    file: ./secrets/db_password.txt
  db_name:
    file: ./secrets/db_name.txt
